body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

html {
    background-image: url("./lol.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#page {
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: transparent;
}

#cv {
    width: 60%;
    background-color: rgb(55, 55, 55);
    border-radius: 3px;
}

#header {
    width: 100%;
    padding: 0 0 0 0;
}

#name {
    width: 20%;
    height: 100%;
    vertical-align: middle;
    font-size: 2.3em;
    margin-top: 25px;
}

#name #firstname {
    color: whitesmoke;
    text-align: left;
}

#name #lastname {
    color: silver;
    text-align: left;
}

#infos {
    width: 50%;
    color: silver;
    height: 100%;
    vertical-align: center;
}

#picture {
    height: 100%;
    width: 20%;
    vertical-align: top;
}

#picture img {
    width: 100%;
    height: 250px;
}

nav {
    background-color: rgb(50, 50, 50);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
  
nav ul li {
    float: left;
}
  
nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #111;
}

#content {
    text-align: justify;
    text-justify: inter-word;
    padding-left: 50px;
    padding-right: 50px;
    color: silver;
}

.inline {
    display: inline-block;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.title {
    font-size: 2em;
}

.listing div {
  width: 500px;
  margin: 10px
}
 
.listing ol {
  color: #ccc;
  list-style-type: none;
}
 
.listing ol li {
  position: relative;
  font: bold italic 1 Helvetica, Verdana, sans-serif;
  margin-bottom: 20px;
}
 
.listing li p {
  font: 12px/1.5 Helvetica, sans-serif;
  padding-left: 60px;
  color: silver;
}
 
.listing span {
  position: absolute;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: rgb(130, 130, 130);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: rgb(100, 100, 100);
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}